.content-wrap {
    position: relative;
    min-height: 100vh;
    background: #f4f6f9; 
    padding-top: 2.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
 }

 .aStyle {
    color: rgba(0,0,0,.55)
}

.logout{
    
}
.card {
    transition: all 0.5s ease; 
    box-shadow: 0 0 15px rgb(231, 231, 231); 
}
.card:hover {
    box-shadow: 0 0 15px rgb(209, 209, 209); 
}
